.app {
  text-align: center;
  margin: 40vh 100px;
}

.app .button {
  margin: 5px;
  padding: 10px 25px 10px 25px;
  font-family: monospace;
  font-size: 60px;
  border-radius: 10px;
  border: none;
}

.app .on {
  background-color: #97CC04;
}

.app .on {
  background-color: #97CC04;
}

.app .on:hover {
  background-color: #76a100;
  cursor: pointer;
}

.app .off {
  background-color: #F45D01;
}

.app .off:hover {
  background-color: #c54c00;
  cursor: pointer;
}

.app .decimal {
  font-family: monospace;
  font-size: 100px;
  box-shadow: inset;
  background-color: #ffffff;
  border-radius: 10px;
  width: 400px;
  margin: 20px auto;
}