.App {
  text-align: center;
  margin: 40% 100px;
}

.App .ButtonOn {
  margin: 5px;
  padding: 10px 25px 10px 25px;
  font-family: monospace;
  font-size: 60px;
  background-color: #97CC04;
  border-radius: 10px;
  border: none;
}

.App .ButtonOn:hover {
  background-color: #76a100;
}

.App .ButtonOff {
  margin: 5px;
  padding: 10px 25px 10px 25px;
  font-family: monospace;
  font-size: 60px;
  background-color: #F45D01;
  border-radius: 10px;
  border: none;
}

.App .ButtonOff:hover {
  background-color: #c54c00;
}

.App .Decimal {
  font-family: monospace;
  font-size: 100px;
  box-shadow: inset;
  background-color: #ffffff;
  border-radius: 10px;
  width: 400px;
  margin: 20px auto;
}